.section-price::before, .section-cta::before, .header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

/* Reset and base styles  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  height: 100%; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: rgb(46, 46, 46);
}
body.lock {
  overflow: hidden;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

input,
textarea,
button {
  font-family: inherit;
  padding: 0;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* Grid styles */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

.header {
  background-image: url("./../img/bg/header-bg-1600.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .header {
    background-image: url("./../img/bg/header-bg-900.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .header {
    background-image: url("./../img/bg/header-bg-600.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .header {
    background-image: url("./../img/bg/header-bg-320.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
  }
}

.header__wrapper {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 100px;
  color: #fff;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .header__wrapper {
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .header__wrapper {
    padding-top: 20px;
  }
}
@media (max-width: 599px) {
  .header__wrapper {
    padding-bottom: 40px;
  }
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 140px;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .header__buttons {
    margin-bottom: 100px;
    width: 100%;
  }
}
@media (max-width: 899px) {
  .header__buttons {
    margin-bottom: 30px;
  }
}

.header__buttons-nav-icon {
  flex-shrink: 0;
}

.header__content {
  margin-bottom: 148px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .header__content {
    margin-bottom: 129px;
  }
}
@media (max-width: 899px) {
  .header__content {
    margin-bottom: 80px;
  }
}
@media (max-width: 599px) {
  .header__content {
    margin-bottom: 50px;
  }
}

.header__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .header__title {
    margin-bottom: 35px;
    font-size: 84px;
  }
}
@media (max-width: 899px) {
  .header__title {
    margin-bottom: 30px;
    font-size: 70px;
  }
}

.header__desc {
  margin-bottom: 70px;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.header__desc p:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .header__desc {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.2222222222;
  }
}
@media (max-width: 899px) {
  .header__desc {
    font-size: 16px;
    line-height: 1.25;
    max-width: 430px;
  }
}
@media (max-width: 599px) {
  .header__desc {
    margin-bottom: 30px;
  }
}

.header__form {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .header__form {
    width: 370px;
    flex-direction: column;
    align-items: stretch;
  }
}
@media (max-width: 599px) {
  .header__form {
    width: 100%;
  }
}

.header__form > * + * {
  margin-left: 20px;
  /* Mobile */
}
@media (max-width: 899px) {
  .header__form > * + * {
    margin-left: 0;
    margin-top: 20px;
  }
}

.header__form-input {
  width: 240px;
  /* Mobile */
}
@media (max-width: 899px) {
  .header__form-input {
    width: 100%;
  }
}

.nav-icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}

.nav-icon:hover {
  background-color: #00c470;
}

.nav-icon:hover .nav-icon__middle,
.nav-icon:hover .nav-icon__middle::before,
.nav-icon:hover .nav-icon__middle::after {
  background-color: #fff;
}

.nav-icon:focus {
  outline: none;
}

.nav-icon__middle {
  position: relative;
  width: 20px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  transition: background-color 0.2s ease-in;
}

.nav-icon__middle::before,
.nav-icon__middle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 3px;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  background-color: #000;
  border-radius: 2px;
  transition: background-color 0.2s ease-in;
}

.nav-icon__middle::before {
  top: -7px;
}

.nav-icon__middle::after {
  top: 7px;
}

/* Active state */
.nav-icon.nav-icon--active .nav-icon__middle {
  background-color: transparent;
}

.nav-icon.nav-icon--active .nav-icon__middle::before,
.nav-icon.nav-icon--active .nav-icon__middle::after {
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.nav-icon.nav-icon--active .nav-icon__middle::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active .nav-icon__middle::after {
  transform: rotate(-45deg);
}

.nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2d2d2d;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  transition: opacity 0.2s ease-in, top 0s linear 0.2s;
}

.nav a {
  margin-right: 0;
  margin-top: 35px;
  font-size: 28px;
  color: #fff;
}

.nav.nav--active {
  top: 0;
  opacity: 1;
  transition: top 0s linear, opacity 0.2s ease-in;
}

.nav__top {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15d784;
}

.nav__list {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
}

.nav__list li {
  margin-bottom: 40px;
}

.nav__list a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-in;
}

.nav__list a:hover {
  color: #15d784;
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgb(26, 26, 26);
  color: #fff;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer__row {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .footer__row {
    margin-bottom: 40px;
  }
}
@media (max-width: 899px) {
  .footer__row {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__row {
    margin-bottom: 40px;
  }
}

.footer__nav {
  margin-right: 50px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .footer__nav {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
}

.footer__nav-item {
  margin-right: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  /* Mobile XS */
}
.footer__nav-item:last-child {
  margin-right: 0;
}
.footer__nav-item:hover {
  color: rgb(21, 215, 132);
}
@media (max-width: 599px) {
  .footer__nav-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer__nav-item:last-child {
    margin-bottom: 0;
  }
}

.footer__social {
  display: flex;
}

.footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 48px;
  height: 48px;
  background-color: rgba(196, 196, 196, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  /* Mobile XS */
}
.footer__social-item:last-child {
  margin-right: 0;
}
.footer__social-item:hover {
  background-color: rgb(21, 215, 132);
}
@media (max-width: 599px) {
  .footer__social-item {
    margin-right: 20px;
  }
}

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  /* Mobile XS */
}
.footer__copyright p + p {
  margin-top: 15px;
}
@media (max-width: 599px) {
  .footer__copyright {
    line-height: 1.5;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.section-functional {
  padding-top: 80px;
  padding-bottom: 80px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-functional {
    padding: 50px 0;
  }
}
@media (max-width: 599px) {
  .section-functional {
    padding: 40px 0;
  }
}

.section-functional__header {
  margin-bottom: 70px;
  text-align: center;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-functional__header {
    margin-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .section-functional__header {
    margin-bottom: 40px;
  }
}

.section-functional__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-functional__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-functional__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-functional__title {
    margin-bottom: 10px;
  }
}

.section-functional__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .section-functional__row {
    margin-top: -30px;
  }
}
@media (max-width: 599px) {
  .section-functional__row {
    margin-top: -40px;
  }
}

.section-functional__row > * {
  margin-left: 15px;
  margin-right: 15px;
  flex-shrink: 0;
  width: 270px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-functional__row > * {
    width: 195px;
  }
}
@media (max-width: 899px) {
  .section-functional__row > * {
    width: 270px;
    margin-top: 30px;
  }
}
@media (max-width: 599px) {
  .section-functional__row > * {
    width: 290px;
    margin-top: 40px;
  }
}

.section-cta {
  padding-top: 83px;
  padding-bottom: 84px;
  background-image: url("./../img/bg/cta-bg-1600.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-cta {
    padding: 40px 0;
    background-image: url("./../img/bg/cta-bg-900.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .section-cta {
    background-image: url("./../img/bg/cta-bg-600.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .section-cta {
    background-image: url("./../img/bg/cta-bg-320.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
  }
}

.section-cta__content {
  position: relative;
  z-index: 9;
  text-align: center;
  color: rgb(255, 255, 255);
}
.section-cta__content .button {
  display: inline-block;
  text-decoration: none;
}

.section-cta__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  /* Mobile */
  /* Mobile XS */
}
.section-cta__title span {
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width: 899px) {
  .section-cta__title {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .section-cta__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.section-tasks {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(225, 225, 225);
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-tasks {
    padding-bottom: 10px;
  }
}
@media (max-width: 599px) {
  .section-tasks {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-tasks__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 114px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__row {
    padding-left: 75px;
    padding-right: 0;
  }
}
@media (max-width: 899px) {
  .section-tasks__row {
    padding-left: 0;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}
@media (max-width: 599px) {
  .section-tasks__row {
    flex-direction: column-reverse;
  }
}
.section-tasks__row > * {
  flex-shrink: 0;
}

.section-tasks__content {
  width: 570px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__content {
    width: 495px;
    padding-bottom: 10px;
  }
}
@media (max-width: 899px) {
  .section-tasks__content {
    width: 270px;
    padding-bottom: 0px;
    padding-top: 8px;
  }
}
@media (max-width: 599px) {
  .section-tasks__content {
    width: 100%;
    text-align: center;
    padding-top: 0;
  }
}

.section-tasks__header {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-tasks__header {
    margin-bottom: 20px;
  }
}

.section-tasks__title {
  margin-bottom: 30px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-tasks__title {
    margin-bottom: 10px;
  }
}

.section-tasks__text {
  width: 400px;
  color: rgb(128, 128, 128);
  font-weight: 500;
  font-size: 14px;
  line-height: 2.1428571429;
  /* Tablet */
  /* Mobile */
}
.section-tasks__text p:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .section-tasks__text {
    width: unset;
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .section-tasks__text {
    line-height: 1.7142857143;
  }
}

.section-tasks__img {
  mix-blend-mode: multiply;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__img {
    width: 265px;
  }
}
@media (max-width: 899px) {
  .section-tasks__img {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__img {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .section-tasks__img img {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-focus {
  padding-top: 80px;
  padding-bottom: 40px;
  overflow-x: hidden;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-focus {
    padding-bottom: 0px;
  }
}
@media (max-width: 599px) {
  .section-focus {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-focus__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .section-focus__row {
    flex-direction: row-reverse;
  }
}
@media (max-width: 599px) {
  .section-focus__row {
    flex-direction: column;
  }
}
.section-focus__row > * {
  flex-shrink: 0;
}

.section-focus__img {
  mix-blend-mode: multiply;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus__img {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__img {
    width: 170px;
  }
  .section-focus__img img {
    max-width: unset;
    width: 415px;
    height: auto;
  }
}
@media (max-width: 599px) {
  .section-focus__img {
    width: 100%;
    margin-bottom: 10px;
  }
  .section-focus__img img {
    max-width: 100%;
  }
}

.section-focus__content {
  width: 470px;
  padding-top: 28px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus__content {
    width: 420px;
    padding-top: 20px;
  }
}
@media (max-width: 899px) {
  .section-focus__content {
    width: 370px;
    padding-top: 0px;
  }
}
@media (max-width: 599px) {
  .section-focus__content {
    width: 100%;
    text-align: center;
  }
}

.section-focus__header {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-focus__header {
    margin-bottom: 20px;
  }
}

.section-focus__title {
  margin-bottom: 30px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-focus__title {
    margin-bottom: 10px;
  }
}

.section-focus__text {
  width: 400px;
  color: rgb(128, 128, 128);
  font-weight: 500;
  font-size: 14px;
  line-height: 2.1428571429;
  /* Tablet */
  /* Mobile */
}
.section-focus__text p:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .section-focus__text {
    width: unset;
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__text {
    line-height: 1.7142857143;
  }
}

.section-price {
  background-image: url("./../img/bg/price-bg-1600.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  padding-top: 90px;
  padding-bottom: 100px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-price {
    background-image: url("./../img/bg/price-bg-900.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price {
    background-image: url("./../img/bg/price-bg-600.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-price {
    background-image: url("./../img/bg/price-bg-320.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    padding-top: 40px;
  }
}

.section-price__content {
  position: relative;
  z-index: 9;
}
.section-price__content .title,
.section-price__content .subtitle {
  color: #fff;
}

.section-price__header {
  margin-bottom: 80px;
  text-align: center;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-price__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price__header {
    margin-bottom: 40px;
  }
}

.section-price__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-price__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-price__title {
    margin-bottom: 10px;
  }
}

.section-price__row {
  display: flex;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
  /* Mobile */
}
@media (max-width: 899px) {
  .section-price__row {
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
  }
}

.section-price__row > * {
  margin-left: 15px;
  margin-right: 15px;
  width: 300px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-price__row > * {
    width: 270px;
  }
}
@media (max-width: 899px) {
  .section-price__row > * {
    margin-top: 30px;
    width: 300px;
  }
}
@media (max-width: 599px) {
  .section-price__row > * {
    width: 290px;
  }
}

.section-clients {
  padding-top: 80px;
  padding-bottom: 80px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .section-clients {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-clients__header {
  margin-bottom: 60px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-clients__header {
    margin-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-clients__header {
    margin-bottom: 30px;
  }
}

.section-clients__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-clients__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-clients__title {
    margin-bottom: 10px;
  }
}

.section-clients__slider {
  margin-left: auto;
  margin-right: auto;
  width: 770px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__slider {
    width: 720px;
  }
}
@media (max-width: 899px) {
  .section-clients__slider {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-clients__slider {
    width: 290px;
  }
}

.button-round {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button-round:hover {
  background-color: #00c470;
}

.input {
  display: block;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 60px;
  color: rgb(255, 255, 255);
  /* Mobile */
  /* Mobile XS */
}
.input::-moz-placeholder {
  color: rgb(255, 255, 255);
}
.input::placeholder {
  color: rgb(255, 255, 255);
}
.input:focus {
  outline: none;
  opacity: 0.8;
}
@media (max-width: 899px) {
  .input {
    padding-left: 46px;
    padding-right: 46px;
  }
}
@media (max-width: 599px) {
  .input {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.button {
  display: inline-block;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  border: none;
  background: rgb(0, 196, 112);
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  filter: contrast(1.2);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 5px rgba(0, 0, 0, 0.4);
}
.button:focus {
  outline: none;
}

.button-outline {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.button-outline:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0);
}
.button-outline:focus {
  outline: none;
  background-color: rgb(0, 0, 0);
}

.button-solid {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  border: none;
  background-color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: rgb(46, 46, 46);
  cursor: pointer;
  transition: 0.3s;
}
.button-solid:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 5px rgba(0, 0, 0, 0.4);
}
.button-solid:focus {
  outline: none;
  background-color: rgb(47, 47, 47);
  color: rgb(255, 255, 255);
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: rgb(21, 215, 132);
  /* Mobile */
}
@media (max-width: 899px) {
  .title {
    font-size: 14px;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .subtitle {
    font-size: 38px;
  }
}
@media (max-width: 899px) {
  .subtitle {
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .subtitle {
    font-size: 26px;
  }
}

.card {
  display: block;
  text-align: center;
}

.card__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .card__img {
    margin-bottom: 20px;
  }
}

.card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .card__title {
    margin-bottom: 10px;
    line-height: 1.5;
    min-height: 48px;
  }
}
@media (max-width: 899px) {
  .card__title {
    min-height: unset;
  }
}

.card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.1428571429;
  color: rgb(128, 128, 128);
  /* Tablet */
}
@media (max-width: 1199px) {
  .card__text {
    line-height: 1.5714285714;
  }
}

.package {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  color: #fff;
  text-align: center;
}

.package--special {
  background: rgba(48, 79, 254, 0.95);
}
.package--special .package__title {
  color: #fff;
}
.package--special .package__period {
  background: rgba(0, 0, 0, 0.1);
}

.package__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.package__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: rgb(178, 178, 178);
}

.package__price {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
}

.package__period {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  height: 24px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
}

.package__list {
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 58px;
  line-height: 1;
}

.package__list_item {
  margin-bottom: 25px;
}
.package__list_item:last-child {
  margin-bottom: 0;
}

.package__button {
  margin-top: auto;
}

.button-outline {
  margin-top: auto;
}

.slider {
  position: relative;
  padding-bottom: 54px;
  /* Mobile */
}
@media (max-width: 899px) {
  .slider {
    padding-bottom: 44px;
  }
}

.slider__arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: rgb(245, 245, 245);
  border: none;
  cursor: pointer;
  transition: 0.3s;
  /* Mobile XS */
}
.slider__arrow--left {
  top: 53px;
  left: -46px;
  transform: translateX(-100%);
}
@media (max-width: 949px) {
  .slider__arrow--left {
    left: -30px;
  }
}
.slider__arrow--right {
  top: 53px;
  right: -46px;
  transform: translateX(100%);
}
@media (max-width: 949px) {
  .slider__arrow--right {
    right: -30px;
  }
}
.slider__arrow:hover {
  background-color: rgb(0, 196, 112);
}
.slider__arrow path {
  transition: 0.3s;
}
.slider__arrow:hover path {
  stroke: white;
}
@media (max-width: 599px) {
  .slider__arrow {
    display: none;
  }
}

.slider__pagination {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slider__pagination-item {
  margin-right: 10px;
  border: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgb(225, 225, 225);
}
.slider__pagination-item:last-child {
  margin-right: 0;
}

.slider__pagination-item--active {
  background-color: rgb(0, 196, 112);
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-item__text {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #000;
  padding: 0 5px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.slider-item__text p:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .slider-item__text {
    line-height: 1.5;
  }
}
@media (max-width: 899px) {
  .slider-item__text {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0;
  }
}
@media (max-width: 599px) {
  .slider-item__text {
    font-size: 14px;
  }
}

.slider-item__author {
  display: flex;
  align-items: center;
}

.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .slider-item__avatar {
    margin-right: 10px;
    width: 60px;
    height: 60px;
  }
}

.slider-item__author-desc {
  font-size: 16px;
  font-weight: 500;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .slider-item__author-desc {
    font-size: 14px;
  }
}

.slider-item__author-title {
  display: block;
  margin-bottom: 5px;
  color: rgb(0, 196, 112);
}

.slider-item__author-name {
  display: block;
  color: rgb(128, 128, 128);
}

.nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2d2d2d;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  transition: opacity 0.2s ease-in, top 0s linear 0.2s;
}

.nav a {
  margin-right: 0;
  margin-top: 35px;
  font-size: 28px;
  color: #fff;
}

.nav.nav--active {
  top: 0;
  opacity: 94%;
  transition: top 0s linear, opacity 0.2s ease-in;
}

.nav__top {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: rgb(21, 215, 132);
}

.nav__list {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
}
.nav__list li {
  margin-bottom: 40px;
}
.nav__list a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-in;
}
.nav__list a:hover {
  color: rgb(21, 215, 132);
}

.nav-icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}
.nav-icon:hover {
  background-color: #00C470;
}
.nav-icon:hover .nav-icon__middle,
.nav-icon:hover .nav-icon__middle::before,
.nav-icon:hover .nav-icon__middle::after {
  background-color: #FFF;
}
.nav-icon:focus {
  outline: none;
}

.nav-icon__middle {
  position: relative;
  width: 20px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  transition: background-color 0.2s ease-in;
}
.nav-icon__middle::before, .nav-icon__middle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 3px;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  background-color: #000;
  border-radius: 2px;
  transition: background-color 0.2s ease-in;
}
.nav-icon__middle::before {
  top: -7px;
}
.nav-icon__middle::after {
  top: 7px;
}

/* Active state */
.nav-icon.nav-icon--active .nav-icon__middle {
  background-color: transparent;
}
.nav-icon.nav-icon--active .nav-icon__middle::before, .nav-icon.nav-icon--active .nav-icon__middle::after {
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.nav-icon.nav-icon--active .nav-icon__middle::before {
  transform: rotate(45deg);
}
.nav-icon.nav-icon--active .nav-icon__middle::after {
  transform: rotate(-45deg);
}

.search {
  position: relative;
}

.search__input {
  width: 0px;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  background: #ffffff;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 60px;
  color: #000000;
  transition: width 0.2s ease-in;
}
.search__input::-moz-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input::placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.search__button:hover {
  background-color: #00c470;
}
.search__button:hover .search__button-icon {
  stroke: rgb(255, 255, 255);
}

.search__button-icon {
  stroke: black;
  transition: stroke 0.2s ease-in;
}

.search.search--visible .search__input {
  width: 340px;
  padding-left: 30px;
  padding-right: 70px;
  /* Mobile XS */
}
@media (max-width: 440px) {
  .search.search--visible .search__input {
    width: min(100%, 340px);
    padding-left: 20px;
    font-size: 14px;
  }
}
.search.search--visible .search__button {
  background-color: #00c470;
}
.search.search--visible .search__button .search__button-icon {
  stroke: white;
}
.search.search--visible .search__button:hover {
  background-color: #15d784;
}

/* Tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
/* Mobile XS */
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}/*# sourceMappingURL=main.css.map */