$accentText: rgb(21, 215, 132);
$textColor: rgb(46, 46, 46);
$paragraphColor: rgb(128, 128, 128);

// Pixel Perfect
//line-height:  calc(24 / 20);

//filter: invert(88%) sepia(21%) saturate(935%) hue-rotate(123deg) brightness(85%) contrast(97%);
//filter: invert(5%);

// © - &#169;